body{

margin:0;
font-family:Arial;

background:url('/images/music-bg.jpg') no-repeat center center fixed;
background-size:cover;

display:flex;
justify-content:center;
align-items:center;
height:100vh;

}

.logout-box{

background:rgba(255,255,255,0.1);
backdrop-filter:blur(10px);

padding:40px;
border-radius:12px;

text-align:center;

color:white;

width:400px;

}

.logout-box h2{

margin-bottom:10px;

}

.logout-box p{

font-size:14px;
margin-bottom:25px;

}

button{

width:100%;
padding:12px;
margin-top:10px;

border:none;
border-radius:25px;

font-size:15px;
cursor:pointer;

}

.login-btn{

background:white;
color:black;

}

.home-btn{

background:#8e8e8e;
color:white;

}