<!DOCTYPE html>
<html>
<head>
<title>History</title>

<style>
body{
background:#111;
color:white;
font-family:Arial;
}

.container{
padding:30px;
}

.row{
display:flex;
gap:20px;
flex-wrap:wrap;
}

.card{
width:180px;
}

.card img{
width:100%;
border-radius:10px;
}

.song-name{
margin-top:5px;
font-size:14px;
}
</style>

</head>

<body>

<h2 style="padding:20px;">🎵 Recently Played</h2>

<div class="container">
<div class="row" id="historyContainer"></div>
</div>

<script>

let history = JSON.parse(localStorage.getItem("history")) || [];

let container = document.getElementById("historyContainer");

if(history.length === 0){
container.innerHTML = "<p>No songs played yet</p>";
}else{

history.forEach(song=>{

let div = document.createElement("div");
div.className="card";

div.innerHTML = `
<img src="${song.img}">
<p class="song-name">${song.title}</p>
`;

container.appendChild(div);

});

}

</script>

</body>
</html>