<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Payment</title>

<link rel="stylesheet" th:href="@{/css/payment.css}">
</head>

<body>

<!-- NAVBAR -->
<div class="navbar">
    <div class="logo">🎵 TUNE HIVE</div>
    <input type="text" placeholder="Search">
    <div class="nav-right">Music language ▾ | Login ▾</div>
</div>

<div class="layout">

    <!-- SIDEBAR -->
    <aside class="sidebar">
         <h4>LIBRARY</h4>
        <p><a href="/history" style="text-decoration: none; color: white;">History</a></p>
        <p><a href="/wishlist" style="text-decoration: none; color: white;">Liked Songs</a></p>
        <p><a href="/albums" style="text-decoration: none; color: white;">Albums</a></p>
        <p><a href="/artists" style="text-decoration: none; color: white;">Artists</a></p>
        <p><a href="/podcasts" style="text-decoration: none; color: white;">Podcasts</a></p>
        <p><a href="/index" style="text-decoration: none; color: white;">Home</a></p>
    </aside>

    <!-- PAYMENT BOX -->
    <main class="content">

        <div class="payment-box">

            <button class="upi-btn">Pay with UPI</button>

            <p class="or">Or</p>

            <input type="email" placeholder="Email">

            <h2>Payment Method</h2>

            <label>Card Information</label>
            <input type="text" placeholder="1234 1234 1234 1234">

            <label>Card Holder Name</label>
            <input type="text" placeholder="Full name on card">

            <div class="row">
                <input type="text" placeholder="MM/YY">
                <input type="text" placeholder="CVV">
            </div>

            <label>Country/Region</label>
            <input type="text" placeholder="India">

          <form action="/payment-success" method="get">
    <button class="subscribe-btn">Subscribe Now</button>
</form>

        </div>

        <!-- FOOTER -->
        <div class="footer">
            <div>
                <p>Top Artists</p>
                <p>Arijit Singh</p>
                <p>Neha Kakkar</p>
            </div>

            <div>
                <p>Company</p>
                <p>About</p>
                <p>Help</p>
            </div>
        </div>

    </main>

</div>
<script>
function completePayment(){
    window.location.href = "/payment-success";
}
</script>
</body>
</html>