<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Success</title>

<link rel="stylesheet" th:href="@{/css/success.css}">
</head>

<body>

<!-- NAVBAR -->
<header class="navbar">
    <div class="logo">🎵 TUNE HIVE</div>
    <input type="text" placeholder="Search">
    <div class="nav-right">
        <a href="#">Music</a>
        <a href="#">Podcasts</a>
        <a href="#">Login</a>
    </div>
</header>

<div class="layout">

    <!-- SIDEBAR -->
    <aside class="sidebar">
         <h4>LIBRARY</h4>
        <p><a href="/history" style="text-decoration: none; color: white;">History</a></p>
        <p><a href="/wishlist" style="text-decoration: none; color: white;">Liked Songs</a></p>
        <p><a href="/albums" style="text-decoration: none; color: white;">Albums</a></p>
        <p><a href="/artists" style="text-decoration: none; color: white;">Artists</a></p>
        <p><a href="/podcasts" style="text-decoration: none; color: white;">Podcasts</a></p>
        <p><a href="/" style="text-decoration: none; color: white;">Home</a></p>
    </aside>

    <!-- CENTER CARD -->
    <main class="content">

        <div class="success-card">
            <h1>Payment Successful! 🎉</h1>
            <p>Your plan activated successfully</p>

            <h3>Plan Details</h3>

            <p><strong>Plan:</strong> <span th:text="${plan}"></span></p>
            <p><strong>Amount:</strong> <span th:text="${amount}"></span></p>

            <button onclick="goToPlayer()">Go to Player</button>
        </div>

    </main>
</div>

<script>
function goToPlayer(){
    window.location.href="/player";
}
</script>

</body>
</html>